body{
    background: linear-gradient(white,black)
}

.max{
    margin: 10%;
    padding: 2em;
}

.papa{
    font-size: 150%;
}

.lol{
    max-width: 40em;
    padding: 4em;
    justify-content: center;
}

.font{
    font-size: 115%;
}

.text{
    font-size: 250%;
    background: -webkit-linear-gradient(gray,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cat{
    color: antiquewhite;
}

.kot{
    color: white;
}

.dzik{
    color: orange;
}

.art1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.art2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.baba{
    background-color: rgb(56, 48, 48);
 
}

img{
    max-width: 100%;
    height: auto;
}

.col{
    color: black;
}


.footer {
    padding: 1em 0;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer li {
    list-style-type: none;
}

.footer ul, .footer dl {
    line-height: 1.7em;
}

.footer a  {
    color: #fff;
}

.map{
    margin: 3%;
}